@tailwind base;
@tailwind components;
@tailwind utilities;


.shepherd-arrow {
  fill: #3498db !important; 
}



.shepherd-arrow:before {
  background: #dcd9d9 ;
  content: "";
  transform: rotate(45deg);
}

.custom-class {
  border: white;
  background: #dcd9d9;

  box-shadow: 2px 2px 10px black;
  margin: 10px;
}

.shepherd-header {
    align-items: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: flex;
    justify-content: flex-end;
    line-height: 1em;
    padding: 0.50rem 0.50rem 0;
}
.shepherd-text {
  color: rgba(0, 0, 0, .75);
  font-size: 1.2rem;
  line-height: 1em;
  padding: .50em;
  padding-left: 1em;
}